nav 
  .site_title
    a(href="/")
      h2= heading
  ul  
    li 
      a(href="/")= "Home" 
    li 
      a(href="/blogs")= "Blogs" 
    li 
      a(href="/about")= "About"
    li
      a(href="/create/blog")= "New Blog"
