html
  include partials/head.pug

  body

    header  
      include partials/nav.pug

    div(class="blogs content")
      h3= "All Blogs"
      if(blogs.length > 3)
      for blog in blogs 
        a(href=`/blogs/${blog.id}` class="single")  
          h4(class="title")= blog.title 
          p(class="snippet")= blog.snippet 
      else 
        p= "Sorry, No blogs to display..."

    include partials/footer.pug

